@model IEnumerable<Exwhyzee.Messaging.Web.Models.XyzSenderID>

@{
    ViewBag.Title = "Index";
}

<section class="content-header">
    <h1>
        Dashboard
        <small>Manage Sender IDs</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Manage Sender IDs</a></li>
        <li class="active">Sender IDs List</li>
    </ol>
</section>

<section class="content">
    @Html.Partial("_ResponseMessagePartial")

    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Sender IDs By @ViewBag.name <small class="label bg-green"> @Model.Count()</small></h3>
            <span class="pull-right">
                @Html.ActionLink("New Sender ID", "Create", null, new { @class = "btn btn-app" })

            </span>
        </div>
        <div class="box-body table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SenderId)
                    </th>
                    <th>
                        Registered By
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.XYZ_status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.XYZ_error_code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.XYZ_msg)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Verify_msg)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SenderId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Client.FirstName)
                            @Html.DisplayFor(modelItem => item.Client.OtherNames)
                            @Html.DisplayFor(modelItem => item.Client.Surname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.XYZ_status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.XYZ_error_code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.XYZ_msg)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Verify_msg)
                        </td>
                        <td>
                            @Html.ActionLink("Verify", "Verify", new { id = item.Id })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</section>

@section scripts{

    <script src="~/Content/Dashboard/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/Dashboard/plugins/datatables/dataTables.bootstrap.min.js"></script>

    <script>
        $(function () {
            $("#example1").DataTable();

        });
    </script>
}