@{
    Layout = null;

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>_Register</title>
    @Styles.Render("~/content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
    </style>
</head>

<body>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>