
@{
    ViewBag.Title = "Reset User Password";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<section class="content-header">
    <h1>
        Dashboard
        <small>Reset User Password</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Reset User</a></li>
        <li class="active">Password</li>
    </ol>
</section>

<section class="content">

    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Reset User Password </h3>

           
        </div>
        <div class="box-body">
            @if (TempData["password"] != null)
            {
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>@TempData["password"]</strong>
                </div>
            }
            else if (TempData["passworderror"] != null)
            {
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>@TempData["passworderror"]</strong>
                </div>
            }


            @using (Html.BeginForm("ResetUserPassword", "Account", new { userId = ViewBag.userid }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <p>Password must be atleast 5 character.</p>
                    <div class="form-group">
                        @Html.Label("New Password", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="text" name="newPassword"class = "form-control" />
                         
                        </div>
                    </div>

                 

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Update" class="btn btn-danger" />
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}