@model Exwhyzee.Messaging.Web.Models.Group

@{
    ViewBag.Title = "Create Group";
}

<section class="content-header">
    <h1>
        Dashboard(Client)
        <small>Address Book</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Address Book</a></li>
        <li class="active">Create Group</li>
    </ol>
</section>

<section class="content">

    <div class="box box-info">
        <div class="box-header">
            <h3 class="box-title">Create Group</h3>

            <span class="pull-right">
                <a href="@Url.Content(" ../../ClientPanel/AddressBook")" class="btn btn-app"><i class="fa fa-backward"></i>Back</a>
            </span>
        </div>
        <div class="box-body">
            <div class="col-md-8 col-md-offset-2">
                @using (Html.BeginForm())
            {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <textarea class="form-control" cols="6" id="Description" name="Description"></textarea>
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Send Birth Day Messages ", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.SendBirthDayMessages, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SendBirthDayMessages, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <textarea class="form-control" cols="6" id="Description" name="Description"></textarea>
                                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-8">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}