

@model PagedList.IPagedList<Exwhyzee.Messaging.Web.Models.Message>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />
@using Exwhyzee.Messaging.Web.Services
@{
    ViewBag.Title = "Silver Message History";
}

<section class="content-header">
    <h1>
        Dashboard(Admin)
        <small>Message History</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Message History</a></li>
        <li class="active">Messages</li>
    </ol>
</section>
<section class="content">

    <div class="box box-info">
        <div class="box-header">
            <h3 class="box-title">Message History </h3>

            @*<span class="pull-right">
                    <a href="@Url.Content(" ../../apisettings/Create")" class="btn btn-app"><i class="fa fa-plus-circle"></i>Add API Setting</a>
                </span>*@
        </div>
        <div class="box-body table-responsive">
            @using (Html.BeginForm())
            {
                <p>
                    Find by Sender Id: @Html.TextBox("SearchString")
                    <input type="submit" value="Search" placeholder="Sender Id" />
                </p>
            }
            <table class="table table-bordered table-striped" id="example1">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            <b>Sender Id</b>
                            @*@Html.DisplayNameFor(model => model.SenderId)*@
                        </th>
                        <th>
                            <b>Units Used</b>
                            @*@Html.DisplayNameFor(model => model.UnitsUsed)*@
                        </th>
                        <th>
                            <b>Scheduled Date</b>
                            @*@Html.DisplayNameFor(model => model.Scheduleddate)*@
                        </th>
                        <th>
                            <b>Delivered Date</b>
                            @*@Html.DisplayNameFor(model => model.DeliveredDate)*@
                        </th>
                        <th>By</th>
                        <th>
                            <b>Status</b>
                            @*@Html.DisplayNameFor(model => model.Status)*@
                        </th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink("Details", "MessageDetails", new { id = item.MessageId }, new { @class = "btn btn-primary btn-xs" })
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SenderId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UnitsUsed)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Scheduleddate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeliveredDate)
                            </td>
                            <td>
                                @GeneralServices.UserName(item.UserId)

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
            <div class="container text-center page" style="margin-left:auto;margin-right:auto;">

                <p>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</p>

                @Html.PagedListPager(Model, page => Url.Action("SilverMessageHistory",
    new { page }))
            </div>
        </div>
    </div>
</section>

@section scripts{


}