@model Exwhyzee.Messaging.Web.Dtos.MessageDetailDto

@{
    ViewBag.Title = "MessageDetails";
}

<section class="content-header">
    <h1>
        Dashboard(Admin)
        <small>Message History</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Message History</a></li>
        <li class="active">Details</li>
    </ol>
</section>

<div>
    <section class="content">

        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">Message Details </h3>

                @*<span class="pull-right">
                <a href="@Url.Content(" ../../apisettings/Create")" class="btn btn-app"><i class="fa fa-plus-circle"></i>Add API Setting</a>
            </span>*@
            </div>
            <div class="box-body">
                <div class="col-md-6 col-sm-12">

                    <strong><i class="fa fa-book margin-r-5"></i>  Id</strong>
                    <p class="text-muted">
                        @Html.DisplayFor(model => model.MessageId)
                    </p>
                    <hr>
                    <strong><i class="fa fa-book margin-r-5"></i>  Sender Id</strong>
                    <p class="text-muted">
                        @Html.DisplayFor(model => model.SenderId)
                    </p>
                    <hr>

                    <strong><i class="fa fa-book margin-r-5"></i>  Message Content</strong>
                    <p class="text-muted">
                        @Html.DisplayFor(model => model.MessageContent)
                    </p>
                    <hr>

                    <strong><i class="fa fa-book margin-r-5"></i>  Summary Report</strong>
                    <p class="text-muted">
                        @Html.DisplayFor(model => model.SummaryReport)
                    </p>
                    <hr>

                    <strong><i class="fa fa-book margin-r-5"></i>  Scheduled Date</strong>
                    <p class="text-muted">
                        @Html.DisplayFor(model => model.Scheduleddate)
                    </p>
                    <hr>

                    <strong><i class="fa fa-book margin-r-5"></i>  Status</strong>
                    <p class="text-muted">
                        @Html.DisplayFor(model => model.Status)
                    </p>
                    <hr>
                    <strong><i class="fa fa-book margin-r-5"></i>  Total Numbers</strong>
                    <p class="text-muted">
                        @Html.DisplayFor(model => model.RecipientsCount)
                    </p>
                    <hr>
                </div>
                <div class="col-md-6 col-sm-12">
                    <strong><i class="fa fa-book margin-r-5"></i>  Recipients</strong>
                    <p class="text-muted" style="overflow-wrap:break-word">
                        @Html.DisplayFor(model => model.Recipients)
                    </p>
                    <hr>

                    <strong><i class="fa fa-book margin-r-5"></i>  Response</strong>
                    <p class="text-muted">
                        @Html.DisplayFor(model => model.Response)
                    </p>
                    <hr>

                    <strong><i class="fa fa-book margin-r-5"></i>  Units Used</strong>
                    <p class="text-muted">
                        @Html.DisplayFor(model => model.UnitsUsed)
                    </p>
                    <hr>

                    <strong><i class="fa fa-book margin-r-5"></i>  Delivered Date</strong>
                    <p class="text-muted">
                        @Html.DisplayFor(model => model.DeliveredDate)
                    </p>
                    <hr>
                </div>



            </div>

            <div class="box-body">
                
                <div class="col-md-12 col-sm-12">
                    

                    <table class="table table-bordered table-striped" id="example1">
                        <thead>
                            <tr>
                                <th>Numbers Count</th>
                                <th>Numbers</th>
                                <th>Response</th>
                                
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in ViewBag.chunk)
                            {
                            <tr>
                                <td>@item.NumbersCount</td>
                                <td style="word-break:break-all;">@item.Numbers</td>
                                <td>@item.Response</td>
                                
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>



            </div>
            <div>
                <h4>API Response</h4>
                <dl>











                    <dt>Response</dt>
                    <dd>@Model.Response</dd>


                    <dt>Response_status</dt>
                    <dd>@Model.Response_status</dd>



                    <dt>Response_error_code</dt>
                    <dd> @Model.Response_error_code</dd>


                    <dt>Response_data</dt>
                    <dd> @Model.Response_data</dd>

                    <dt>Response_msg</dt>
                    <dd>@Model.Response_msg</dd>


                    <dt>Response_length</dt>
                    <dd> @Model.Response_length</dd>

                    <dt>Response_page</dt>
                    <dd>@Model.Response_page</dd>


                    <dt>Cost</dt>
                    <dd> @Model.Response_cost</dd>

                    <dt>Response_balance</dt>
                    <dd> @Model.Response_balance</dd>

                    <dt>Response_BalanceResponse</dt>
                    <dd>@Model.Response_BalanceResponse</dd>
                </dl>
            </div>
        </div>

    </section>
</div>
